<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.careapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- Need 14 minSDK for Calendar API -->
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.careapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.careapp.EventsActivity"
            android:label="@string/title_activity_events"
            android:parentActivityName="com.example.careapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.careapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.careapp.TodoActivity"
            android:label="@string/title_activity_todo"
            android:parentActivityName="com.example.careapp.MainActivity"
            android:windowSoftInputMode="stateUnchanged" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.careapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.careapp.FormsActivity"
            android:label="@string/title_activity_forms"
            android:parentActivityName="com.example.careapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.careapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.careapp.PhotoActivity"
            android:label="@string/title_activity_photo"
            android:parentActivityName="com.example.careapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.careapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.careapp.DirectoryActivity"
            android:label="@string/title_activity_directory"
            android:parentActivityName="com.example.careapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.careapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.careapp.ContactUsActivity"
            android:label="@string/title_activity_contact_us"
            android:parentActivityName="com.example.careapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.careapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.careapp.ResourcesActivity"
            android:label="@string/title_activity_resources"
            android:parentActivityName="com.example.careapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.careapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.careapp.CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:parentActivityName="com.example.careapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.careapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.careapp.WorkshopsActivity"
            android:label="@string/title_activity_workshops"
            android:parentActivityName="com.example.careapp.ResourcesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.careapp.ResourcesActivity" />
        </activity>
        <activity
            android:name="com.example.careapp.TodoDialogActivity"
            android:label="@string/title_activity_todo_dialog"
            android:parentActivityName="com.example.careapp.TodoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.careapp.TodoActivity" />
        </activity>
        <activity
            android:name="com.example.careapp.FaqActivity"
            android:label="@string/title_activity_faq"
            android:parentActivityName="com.example.careapp.ResourcesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.careapp.ResourcesActivity" />
        </activity>
        <activity
            android:name="com.example.careapp.JoinUsStudentActivity"
            android:label="@string/title_activity_join_us_student"
            android:parentActivityName="com.example.careapp.ResourcesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.careapp.ResourcesActivity" />
        </activity>
        <activity
            android:name="com.example.careapp.JoinUsFacultyActivity"
            android:label="@string/title_activity_join_us_faculty"
            android:parentActivityName="com.example.careapp.ResourcesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.careapp.ResourcesActivity" />
        </activity>
        <activity
            android:name="com.example.careapp.WeeklyUpdateActivity"
            android:label="@string/title_activity_weekly_update"
            android:parentActivityName="com.example.careapp.ResourcesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.careapp.ResourcesActivity" />
        </activity>
    </application>

</manifest>
